@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');

body {
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: #ebd9c6;
	color: #683b05;
	font-family: "EB Garamond", serif;
	min-height: 98vh;
}

section {
   display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 97vh;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*.box {
	width: 95vW;
}*/

h1, h2, h3 {
	font-family: "Dancing Script", cursive;
}

a {
	text-decoration: none;
	color: #683b05;
}

/*
*
* HEADER
*
*/
.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #ffeddb;
	box-shadow: 0px 12px 12px #c1a07c;
	padding: 0px 5px 0px; 
}

/*
*
*NAVIGACE
*
*/
button {
  font-family: "EB Garamond", serif;
  color: #683B05;
  font-size: 1.2em;
  margin: 5px;
  border: 2px solid #C1A07C;
  border-radius: 20px;
  background-color: #ffeddb;
 /* box-shadow: rgb(193, 160, 124) 0px 12px 12px;*/
}

button:hover, button:active {
  font-weight: bold;
  background-color: #C1A07C;
  border-color: #ffeddb;
  color: #ffeddb;
 /* box-shadow: rgb(193, 160, 124) 12px 0px 12px;*/
}

/*
*
* MAIN
*
*/
.main {
	display: flex;
	flex-direction: column;
	align-items: center;

}


/*
*
* FOOTER
*
*/

footer {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #96734d;
	color: #ebd9c6;
	width: 98vw;
	padding: 10px;
}

footer > p {
	margin: auto;
}

footer > p > a {
	color: #ebd9c6;
}


/*
*
* RIBBON (https://codepen.io/wadi3_lwardy/pen/JoXMedE)
*
*/

.container {
  height: 10dvh;
  width: 95dvw;
  display: grid;
  place-items: center;
}

.ribbon {
  position: relative;
  text-align: center;
  background: #96734d;
  color: #ebd9c6;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.6rem 2rem;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.5rem;
  border: 1.2rem solid #96734d;
  z-index: -1;
  filter: brightness(0.85);
}

.ribbon:before {
  left: -1.6rem;
  border-right-width: 1.5rem;
  border-left-color: transparent;
}

.ribbon:after {
  right: -1.6rem;
  border-left-width: 1.5rem;
  border-right-color: transparent;
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #96734d transparent transparent transparent;
  bottom: -0.5rem;
  filter: brightness(0.6);
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0.5rem 0 0 0.9rem;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 0.5rem 0.9rem 0 0;
}




















