@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');

body {
	display:flex;
	justify-content: space-between;
	background-color: #ebd9c6;
	color: #683b05;
	min-height: 98dvh;
	font-family: "EB Garamond", Times, serif;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box {
	width: 95vW;
}

h1, h2, h3 {
	font-family: "Dancing Script";
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: #683b05;
}

/*
*
* HEADER
*
*/
.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #ffeddb;
	box-shadow: 0px 12px 12px #c1a07c;
	padding: 0px 5px 0px; 
}

/*
*
*NAVIGACE
*
*/
button {
  font-family: "EB Garamond", serif;
  color: #683B05;
  font-size: 1.2em;
  padding: 5px;
  margin: 5px;
  border: 2px solid #C1A07C;
  border-radius: 20px;
  background-color: #ffeddb;
 /* box-shadow: rgb(193, 160, 124) 0px 12px 12px;*/
}

button:hover, button:active {
  font-weight: bold;
  background-color: #C1A07C;
  border-color: #ffeddb;
  color: #ffeddb;
 /* box-shadow: rgb(193, 160, 124) 12px 0px 12px;*/
}

/*
*
* MAIN
*
*/
.main {
	display: flex;
	flex-direction: column;
	align-items: center;

}


/*
*
* FOOTER
*
*/

footer {
	/*margin-top: auto;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #96734d;
	color: #ebd9c6;
	width: 95vw;
}

footer > p > a {
	color: #ebd9c6;
}


/*
*
* RIBBON (https://codepen.io/wadi3_lwardy/pen/JoXMedE)
*
*/




