@media screen and (min-width: 900px) {
body {
	font-size: 20px;
}
.nabidka {
	display: flex;
	align-items: baseline;
	width: 90%;
	justify-content: center;
}

.header {
	width: 98%;
}

.button {
	width: 15vw;
}


@media screen and (max-width: 899px) {
   body {
	   height: 95vh
   }

   h2 {
	   font-size: 80%;
   }
	
	.button {
		  font-size: 1em;
		  flex-grow: 1;
		  margin-left: 3px;
	  }

	.nabidka {
		width: 90vw;
	}
}

@media screen and (max-width: 530px) {
	
	.button {
		width: 120px;
	}
}

















