@media screen and (min-width: 900px) {
.nabidka {
	display: flex;
	align-items: baseline;
	width: 90%;
	justify-content: center;
}

.header {
	width: 98%;
}


@media screen and (max-width: 899px) {
  button {
		  font-size: 1em;
		  width: 30vw;;
		  flex-grow: 1;
		  margin-left: 3px;
	  }

	.nabidka {
		width: 90vw;
	}
}

@media screen and (max-width: 530px) {
	
	button {
		width: 120px;
	}
}







